* {
  box-sizing: border-box;
  font-family: Poppins;
  text-decoration-skip-ink: none;
}

p {
  font-family: DM Sans;
  font-size: 16px;
  line-height: 22.4px;
  letter-spacing: 0.20000000298023224px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

html,
body {
  background-color: #fffdf3;
  width: 100%;
  height: 100%;
  margin: 0;
}

header {
  background-color: white;
  width: 100%;
  padding: 12px 120px;
  border-bottom: 1px solid #3a35411f;
  height: 80px;
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 56px;
  margin-right: 36px;
  align-items: center;
}
.nav img {
  width: 237px;
  height: 56px;
  gap: 0px;
  opacity: 0px;
}
#user {
  width: 44px;
  height: 44px;
  gap: 0px;
  border-radius: 10px 0px 0px 0px;
  opacity: 0px;
}

header .icon {
  display: none;
}

/* Mobile view: max-width 768px */
@media screen and (max-width: 768px) {
  #user {
    display: none; /* Gambar disembunyikan di mobile */
  }
  .nav p {
    display: none;
  }

  header .icon {
    display: block; /* Ikon muncul di mobile */
    width: 44px; /* Sesuaikan ukuran ikon */
    height: 44px;
    opacity: 1;
  }

  
}

main {
  width: 100%;
  height: 2581px;
  padding: 64px 120px 64px 120px;
  gap: 64px;
  opacity: 0px;
}
section {
  width: 80%;
  margin: 0 auto 64px;
}

.top-banner {
  background-image: url("assets/d25fa2121b31a4ad14c9ebd02127f629.jpeg");
  padding: 82px 140px 64px 140px;
  gap: 24px;
  border-radius: 10px 0px 0px 0px;
  background-size: cover;
  background-position: center;
  height: 400px;
  z-index: 100;
  position: relative;
  border-radius: 10px;
}
.background {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  border-radius: 10px;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.top-title {
  gap: 12px;
  position: relative;
  width: 920px;
}

.top-title h1 {
  font-family: Poppins;
  font-size: 48px;
  font-weight: 700;
  line-height: 52.8px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.top-title p {
  line-height: 22.4px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

.button {
  background-color: rgba(62, 207, 76, 1);
  border: none;
  color: white;
  border-radius: 10px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 369px;
  height: 42px;
  gap: 8px;
  opacity: 0px;
  text-align: center;
}

.card-title {
  height: auto;
  gap: 10px;
  margin: 64px 0px 32px;
  text-align: left;
}

.card-title h3 {
  font-size: 32px;
  font-weight: 600;
  line-height: 35.2px;
  color: rgba(34, 35, 37, 1);
  padding: 0;
  margin-bottom: 10px;
}

.card-title p {
  margin-top: 0;
  font-size: 16px;
  color: rgba(51, 51, 51, 0.68);
  line-height: 22.4px;
  padding: 0;
}
.tabs {
  height: 52px;
  width: 612px;
  display: flex;
  justify-content: flex-start;
  gap: 32px;
  margin-bottom: 32px;
}
.tabs p {
  color: rgba(51, 51, 51, 0.68);
  font-weight: 500;
  line-height: 22.4px;
  text-align: left;
  display: block;
  cursor: pointer;
}
.tabs p.selected {
  color: rgba(246, 73, 32, 1);
  border-bottom: 4px solid rgba(246, 73, 32, 1);
  border-radius: 3px;
}

.card-general {
  gap: 24px;
  opacity: 0px;
  display: flex;
  flex-direction: column;
}

.cards {
  display: flex;
  gap: 24px;
  justify-content: space-between;
}

.card {
  width: 384px;
  height: 426px;
  padding: 20px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 10px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  background-color: rgba(255, 255, 255, 1);
  border: rgba(58, 53, 65, 0.12);
  align-items: center;
  justify-content: center;
}

.card img.cover {
  width: 324px;
  height: 193px;
  gap: 0px;
  border-radius: 10px 0px 0px 0px;
  opacity: 0px;
  margin: 0 auto;
}

.item-title {
  display: flex;
  width: 344px;
  height: 74px;
  flex-direction: column;
  gap: 8px;
}
.item-title h6,
p {
  margin: 0;
}

.card p {
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(51, 51, 51, 0.68);
}
.item-title h6 {
  font-size: 18px;
  font-weight: 600;
  line-height: 21.6px;
  text-align: left;
  color: rgba(34, 35, 37, 1);
}

.card-user {
  width: 344px;
  height: 42px;
  gap: 10px;
  opacity: 0px;
  display: flex;
}
.card-user .name {
  color: rgba(34, 35, 37, 1);
  font-size: 16px;
  font-weight: 500;
}

.card-user span {
  color: rgba(51, 51, 51, 0.68);
}
.rating {
  width: 344px;
  gap: 0px;
  justify-content: space-between;
  opacity: 0px;
  display: flex;
}
.rating h4 {
  font-size: 24px;
  font-weight: 600;
  line-height: 28.8px;
  color: rgba(62, 207, 76, 1);
}
/* bagian bawah */

.bot-banner {
  background-image: url("assets/d25fa2121b31a4ad14c9ebd02127f629.jpeg");
  padding: 82px 140px 64px 140px;
  gap: 24px;
  border-radius: 10px 0px 0px 0px;
  background-size: cover;
  background-position: center;
  height: 400px;
  z-index: 100;
  position: relative;
  border-radius: 10px;
}
.background {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  border-radius: 10px;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bot-title {
  gap: 12px;
  position: relative;
  width: 525px;
}
.bot-title h1 {
  height: 118px;
  gap: 4px;
  opacity: 0px;

  font-size: 32px;
  font-weight: 600;
  line-height: 35.2px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}

.bot-title p {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: center;
}

.enter_email {
  width: 525px;
  height: 58px;
  padding: 8px 8px 8px 32px;
  gap: 20px;
  border-radius: 10px 0px 0px 0px;
  opacity: 0px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(51, 51, 51, 0.68);
  align-items: center;
}

.enter_email button {
  background-color: rgba(255, 189, 58, 1);
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
}

footer {
  margin-top: 64px;
  height: 427px;
  padding: 60px 120px 60px 120px;
  display: flex;
  gap: 20px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  background-color: rgba(255, 255, 255, 1);
  border-top: 1px solid rgba(58, 53, 65, 0.12);
  flex-direction: column;
  border-top: 1px solid rgba(58, 53, 65, 0.12);
}

.content-footer {
  justify-content: space-between;
  display: flex;
  width: 100%;
}
.top-footer {
  display: flex;
}
.left-footer {
  width: 352px;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  color: rgba(34, 35, 37, 1);
}

.left-footer b {
  font-size: 18px;
  font-weight: 700;
  line-height: 25.2px;
  color: rgba(34, 35, 37, 1);
}

.left-footer img {
  width: 204px;
  height: 56px;
  gap: 0px;
  opacity: 0px;
}
.right-footer {
  width: 485px;
  display: flex;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
  text-align: left;
  color: rgba(51, 51, 51, 0.68);
}

.right-footer b {
  font-size: 16px;
  font-weight: 700;
  line-height: 22.4px;
  color: rgba(34, 35, 37, 1);
}

.text-footer {
  display: flex;
  flex-direction: column;
  width: 352px;
  height: 118px;
  gap: 12px;
  opacity: 0px;
}
footer .line {
  border-bottom: 1px solid rgba(58, 53, 65, 0.12);
  width: 100%;
}
.rights {
  gap: 0px;
  justify-content: space-between;
  opacity: 0px;
  display: flex;
  height: 35px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
}

.SocialMedia {
  display: flex;
  gap: 15px;
}
